* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  background: #f2f2f2;
}
body .containerPrincipal {
  width: 1440px;
}
body .containerPrincipal header {
  background: url(../assets/images/photos/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: block;
}
body .containerPrincipal header h1 {
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.5rem;
  font-size: 56px;
  margin-top: 3rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
}
body .containerPrincipal header .arrow-down {
  text-align: center;
  margin-top: 6rem;
}
body .containerPrincipal header nav {
  width: 1352px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  width: 100%;
}
body .containerPrincipal header nav figure {
  width: 170px;
  height: 33px;
}
body .containerPrincipal header nav figure .logo {
  width: 100%;
}
body .containerPrincipal header nav .nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body .containerPrincipal header nav .nav-list .nav-list-items {
  margin-right: 2rem;
}
body .containerPrincipal header nav .nav-list .nav-list-items:last-child {
  margin-right: 0;
  text-transform: uppercase;
}
body .containerPrincipal header nav .nav-list .nav-list-items .nav-items-link {
  color: #ffffff;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
body .containerPrincipal header nav .nav-list .nav-list-items .btn {
  background: #ffffff;
  color: #24303E;
  border-radius: 28px;
  padding: 1rem 1.5rem;
  font-family: "Fraunces", serif;
  font-size: 15px;
}
body .containerPrincipal header nav .nav-list .nav-list-items .btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
body .containerPrincipal .section-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
body .containerPrincipal .section-articles article {
  height: 600px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 7rem;
  background: #ffffff;
}
body .containerPrincipal .section-articles article figure img {
  display: block;
}
body .containerPrincipal .section-articles article h2 {
  font-weight: 900;
  font-family: "Fraunces", serif;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
body .containerPrincipal .section-articles article p {
  color: #808397;
  line-height: 30px;
  text-align: left;
}
body .containerPrincipal .section-articles article .link-rectangle {
  position: relative;
  height: 80px;
  width: 120px;
  align-self: flex-start;
}
body .containerPrincipal .section-articles article .link-rectangle a {
  position: absolute;
  text-align: left;
  font-size: 15px;
  color: #24303E;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Fraunces", serif;
  display: block;
  width: 100%;
  left: 0;
  bottom: 30px;
  z-index: 2;
}
body .containerPrincipal .section-articles article .link-rectangle a:hover + .rectangle {
  opacity: 1;
}
body .containerPrincipal .section-articles article .link-rectangle .rectangle {
  position: absolute;
  border-radius: 28px;
  opacity: 0.25;
  height: 8px;
  width: 125px;
  bottom: 29px;
  left: -4px;
  z-index: 1;
}
body .containerPrincipal .section-articles article .link-rectangle .red {
  background: #FE7766;
}
body .containerPrincipal .section-articles article .link-rectangle .yellow {
  background: #FAD400;
}
body .containerPrincipal .section-articles article:nth-of-type(4) {
  grid-row: 2/3;
  grid-column: -2/-3;
}
body .containerPrincipal .section-articles article:nth-of-type(5) {
  justify-content: flex-end;
  padding: 3rem 8rem;
  background: url(../assets/images/photos/graphic-design.jpg);
}
body .containerPrincipal .section-articles article:nth-of-type(5) h2 {
  color: #24554A;
  font-size: 28px;
}
body .containerPrincipal .section-articles article:nth-of-type(5) p {
  color: #3E7467;
  text-align: center;
}
body .containerPrincipal .section-articles article:nth-of-type(6) {
  justify-content: flex-end;
  padding: 3rem 8rem;
  background: url(../assets/images/photos/photography.jpg);
}
body .containerPrincipal .section-articles article:nth-of-type(6) h2 {
  color: #052C3B;
  font-size: 28px;
}
body .containerPrincipal .section-articles article:nth-of-type(6) p {
  color: #19536C;
  text-align: center;
}
body .containerPrincipal .section-testimonials {
  background: #ffffff;
  padding: 4rem;
}
body .containerPrincipal .section-testimonials h2 {
  font-size: 20px;
  font-family: "Fraunces", serif;
  color: #A7AAAD;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2.5rem;
}
body .containerPrincipal .section-testimonials .container-testimonials {
  display: flex;
  justify-content: center;
}
body .containerPrincipal .section-testimonials .container-testimonials article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
body .containerPrincipal .section-testimonials .container-testimonials article figure img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  margin-bottom: 3rem;
}
body .containerPrincipal .section-testimonials .container-testimonials article .commentary {
  line-height: 32px;
  color: #5B636D;
  text-align: center;
  margin-bottom: 2rem;
}
body .containerPrincipal .section-testimonials .container-testimonials article h3 {
  margin-bottom: 0.8rem;
}
body .containerPrincipal .section-testimonials .container-testimonials article .work {
  color: #A7AAAD;
  font-size: 14px;
}
body .containerPrincipal .section-img {
  display: flex;
}
body .containerPrincipal .section-img figure {
  height: 447px;
}
body .containerPrincipal .section-img figure img {
  width: 100%;
  display: block;
}
body .containerPrincipal footer {
  height: 350px;
  background: #90D4C6;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .containerPrincipal footer .logo-footer {
  height: 33px;
  width: 170px;
}
body .containerPrincipal footer .logo-footer img {
  width: 100%;
}
body .containerPrincipal footer nav .footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
body .containerPrincipal footer nav .footer-nav-list .footer-list-items {
  padding: 2rem;
}
body .containerPrincipal footer nav .footer-nav-list .footer-list-items a {
  color: #458D7E;
}
body .containerPrincipal footer nav .footer-nav-list .footer-list-items a:hover {
  color: #ffffff;
}
body .containerPrincipal footer .media .nav-list-media {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .containerPrincipal footer .media .nav-list-media .nav-list-items-media {
  padding: 0.5rem;
}
body .containerPrincipal footer .media .nav-list-media .nav-list-items-media i {
  color: #2C7566;
  font-size: 25px;
}
body .containerPrincipal footer .media .nav-list-media .nav-list-items-media i:hover {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
