$bgBody : #f2f2f2;
$colorTextHeader : #ffffff;
$sizeTextBody : 18px;
$colorTextBlackGeneral : #24303E;
$colorTextBlackSecondary : #24554A;
$colorTextTestimonials : #5B636D;
$colorTitleTestimonials : #A7AAAD;
$textParGrey : #808397;
$textParGreen : #3E7467;
$textParBigGreen : #19536C;
$titleLastArtLightBlack : #052C3B; 
$paddingOneRem : 1rem;
$fontTitle : 'Fraunces', serif;
$fontText : 'Barlow', sans-serif;
