@use 'variables' as *;
@use 'mixins' as *;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: $sizeTextBody;
    font-weight: 600;
    font-family: $fontText;
    background: $bgBody;

    .containerPrincipal {
        width: 1440px;
    
        header {
        background: url(../assets/images/photos/header.jpg);
        @include backgroundImageCenter;
        height: 800px;
        display: block;

        h1 {
            text-align: center;
            color: $colorTextHeader;
            letter-spacing: 0.5rem;
            font-size: 56px;
            margin-top: 3rem;
            @include frauncesWeight900;
        }

        .arrow-down {
            text-align: center;
            margin-top: 6rem;
        }

        nav {
            width: 1352px;
            height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3rem 2rem;
            width: 100%;

            figure {
                width: 170px;
                height: 33px;

                .logo {
                    width: 100%;
                }
            }

            .nav-list {
                display: flex;
                justify-content: space-between;
                list-style: none;

                .nav-list-items {
                    margin-right: 2rem;
                    
                    &:last-child {
                        margin-right: 0;
                        text-transform: uppercase;
                    }

                    .nav-items-link {
                        color: $colorTextHeader;
                        @include barlowWeight600;
                    }
                    
                    .btn {
                        background: $colorTextHeader;
                        color: $colorTextBlackGeneral;
                        border-radius: 28px;
                        padding: 1rem 1.5rem;
                        font-family: $fontTitle;
                        font-size: 15px;

                        &:hover {
                            background: rgba(255, 255, 255, 0.3);
                            color: $colorTextHeader;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .section-articles {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);

        article {
           height: 600px;
           width: 720px;
           @include flexColumnCenter;
           padding: 5rem 7rem;
           background: $colorTextHeader;

           figure {
                img {
                    display: block
                }
            }

           h2{
            @include frauncesWeight900;
            font-size: 40px;
            margin-bottom: 1.5rem;
           }

           p {
            color: $textParGrey;
            line-height: 30px;
            text-align: left;
           }

           .link-rectangle {
                position: relative;
                height: 80px;
                width: 120px;
                align-self: flex-start;

                a {
                    position: absolute;
                    text-align: left;
                    font-size: 15px;
                    color: $colorTextBlackGeneral;
                    letter-spacing: 1px;
                    @include frauncesWeight900;
                    display: block;
                    width: 100%;
                    left: 0;
                    bottom: 30px;
                    z-index: 2;
                    &:hover + .rectangle {
                        opacity: 1;
                    }
    
                }

                .rectangle {
                    position: absolute;
                    border-radius: 28px;
                    opacity: 0.25;
                    height: 8px;
                    width: 125px;
                    bottom: 29px;
                    left: -4px;
                    z-index: 1;
                }

                .red {
                    background: #FE7766;
                }

                .yellow {
                    background: #FAD400;
                }
            }

           &:nth-of-type(4) {
            grid-row: 2/3;
            grid-column: -2/-3;
           }

           &:nth-of-type(5) {
                justify-content: flex-end;
                padding: 3rem 8rem;
                background: url(../assets/images/photos/graphic-design.jpg);
                h2 {
                    color: $colorTextBlackSecondary;
                    font-size: 28px;
                }

                p {
                    color: $textParGreen;
                    text-align: center;
                }
            }

           &:nth-of-type(6) {
                justify-content: flex-end;
                padding: 3rem 8rem;
                background: url(../assets/images/photos/photography.jpg);
                
                h2 {
                    color: $titleLastArtLightBlack;
                    font-size: 28px;
                }

                p {
                    color: $textParBigGreen;
                    text-align: center;
                }
            }
        }
    }

    .section-testimonials {
        background: $colorTextHeader;
        padding: 4rem;

        h2 {
            font-size: 20px;
            font-family: $fontTitle;
            color: $colorTitleTestimonials;
            letter-spacing: 5px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        .container-testimonials {
            display: flex;
            justify-content: center;

            article {
                @include flexColumnCenter;
                padding: 1.5rem;

                figure {
                    img {
                        border-radius: 50%;
                        height: 72px;
                        width: 72px;
                        margin-bottom: 3rem;
                    }
                }

                .commentary {
                    line-height: 32px;
                    color: $colorTextTestimonials;
                    text-align: center;
                    margin-bottom: 2rem;
                }

                h3 {
                    margin-bottom: 0.8rem;
                }

                .work {
                    color: $colorTitleTestimonials;
                    font-size: 14px;
                }
            }
        }
    }

        .section-img {
            display: flex;
            figure {
                height: 447px;
                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        footer {
            height: 350px;
            background: #90D4C6;
            padding: 4rem 0;
            @include flexColumnCenter;

            .logo-footer {
                height: 33px;
                width: 170px;

                img {
                    width: 100%;
                }
            }

            nav {

                .footer-nav-list {
                    list-style: none;
                    @include flexRowCenter;
                    margin-bottom: 3rem;

                    .footer-list-items {
                        padding: 2rem;

                        a {
                            color: #458D7E;

                            &:hover {
                                color: $colorTextHeader;
                            }
                        }
                    }
                }
            }

            .media {
                
                .nav-list-media {
                    list-style: none;
                    @include flexRowCenter;
                    
                    .nav-list-items-media {
                        padding: 0.5rem;

                        i{
                           color: #2C7566; 
                           font-size: 25px;

                           &:hover {
                            color: $colorTextHeader;
                           }
                        }    
                    }
                }
            }
        }
    }
}